.preview{ 
    width: 90%;
    padding: 1rem 0;
    margin-top: .5rem;
    height: fit-content;
    min-height: 50vh;
    background-color: white;
    padding: .7rem .5rem;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    color: #1f2c63;
    font-size: 1rem;
    /* font-weight: 600; */
    font-family: 'Nunito Sans', sans-serif;
    /* color: #2c2c2c; */
    /* color: #098b3b; */
}

.bold{
    color: red;
}

.preview-text > li{
    margin: .5rem;
    padding: .3rem;
}

.preview-text > ul{
    list-style-type: disc;
}

.preview-text > p{
    padding: .5rem .4rem;
    line-height: 1.5;
}

.note-title{
    padding: 1rem .5rem;
    /* text-decoration: underline; */
    text-transform: uppercase;
}